/* ***************** utilities & containers ***************** */
* {
    box-sizing: border-box;
}

body {
    background-color: #F4F4F5;
    font-family: Arial, Helvetica, sans-serif;
}
/* ***************** global typography ***************** */
h1,
h2,
h3,
p {
    font-family: Arial;
    line-height: 150%;
}

h1 {
    color: #FAFAFA;
    font-size: 1.625rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

/* ***************** header & footer ***************** */
header {
    background-color: #0C4A6E;
    margin-top: 1.625rem;
    border-bottom: 1.625rem;
    padding: 1.625rem;
    text-align: left;
}

footer {
    background-color: #0C4A6E;
    margin-top: 6rem;

    color: #FAFAFA;
}
/* ***************** main content ***************** */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1.5rem;
    padding: 1rem;

}

.flex-container section {
    border: 20px 20px 20px 20px;
    border-radius: 12px;
}

.team .flex-container {
    width: calc((100% / 4) - (1.25rem / 4));
}


/* Sarah */
.team-s{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 5rem 0rem 5rem 0;
    border: 1px solid;
    border-radius: 0.25rem;
    justify-content: space-between;
    background-color: #C3C3C4;
    align-items: center;

    float: left;
    width: 50%;
}

.team-s div {
    border-bottom: 3.25rem;
    border-top: 1.5rem;
    border-left: 6.25rem;
    border-right: 2rem;
}

.text-s {
    padding-bottom: 2rem;
    padding-right: 1.75rem;
    padding-top: 2rem;
    padding-left: 3.5rem;
}

.img-s {
    padding-left: 1.75rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

/* Luis*/
.team-l{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 5rem 0rem 5rem 0;
    border: 1px solid;
    border-radius: 0.25rem;
    justify-content: space-between;
    background-color: #C3C3C4;
    align-items: center;

    float: left;
    width: 50%;
}

.team-l div {
    border-bottom: 3.25rem;
    border-top: 1.5rem;
    border-left: 6.25rem;
    border-right: 2rem;
}

.text-l {
    padding-bottom: 2rem;
    padding-right: 1.75rem;
    padding-top: 2rem;
    padding-left: 3.5rem;
}

.img-l {
    padding-left: 1.75rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

/* Jonah */

.team-j{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 5rem 0rem 5rem 0;
    border: 1px solid;
    border-radius: 0.25rem;
    justify-content: space-between;
    background-color: #C3C3C4;
    align-items: center;

    float: left;
    width: 50%;
}

.team-j div {
    border-bottom: 3.25rem;
    border-top: 1.5rem;
    border-left: 6.25rem;
    border-right: 2rem;
}

.text-j {
    padding-bottom: 2rem;
    padding-right: 1.75rem;
    padding-top: 2rem;
    padding-left: 3.5rem;
}

.img-j {
    padding-left: 1.75rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

/* Amira */

.team-a{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 5rem 0rem 5rem 0;
    border: 1px solid;
    border-radius: 0.25rem;
    justify-content: space-between;
    background-color: #C3C3C4;
    align-items: center;

    float: left;
    width: 50%;
}

.team-a div {
    border-bottom: 3.25rem;
    border-top: 1.5rem;
    border-left: 6.25rem;
    border-right: 2rem;
}

.text-a {
    padding-bottom: 2rem;
    padding-right: 1.75rem;
    padding-top: 2rem;
    padding-left: 3.5rem;
}

.img-a {
    padding-left: 1.75rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

