/* ***************** utilities & containers ***************** */
body {
    background-color: #F4F4F5;
    font-family: Arial, Helvetica, sans-serif;
}
/* ***************** global typography ***************** */
h1,
h2,
h3,
p {
    font-family: Arial;
    line-height: 150%;
}

h1 {
    color: #FAFAFA;
    font-size: 1.625rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

/* ***************** header & footer ***************** */
header {
    background-color: #0C4A6E;
    margin-top: 1.625rem;
    border-bottom: 1.625rem;
    padding: 1.625rem;
    text-align: left;
}

footer {
    background-color: #0C4A6E;
    margin-top: 6rem;
    color: #FAFAFA;
}
/* ***************** main content ***************** */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #C3C3C4;
}

.flex-container section {
    border: 20px 20px 20px 20px;
    border-radius: 12px;
}

.team .flex-container {
    width: calc((100% / 4) - (1.25rem / 4));
}

.team-mem {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid;
    border-radius: 0.25rem;
}
